# This is a dummy workflow file to test actions using actionlint.
# This workflow is never run.
name: test action (actionlint)
on: workflow_call
jobs:
  actionlint-action:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./
        with:
          app_id: "dummy"
          app_private_key: "dummy"
          server_repository_name: demo-server
      - uses: ./server/prepare
        id: prepare
        with:
          app_id: "dummy"
          app_private_key: "dummy"
      - uses: ./server/commit
        with:
          outputs: ${{ toJson(steps.prepare.outputs) }}
      - uses: ./server/notify
        with:
          outputs: ${{ toJson(steps.prepare.outputs) }}
